---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sinker
  labels:
    app: sinker
spec:
  replicas: {{ .Values.sinker.replicas }}
  template:
    metadata:
      labels:
        app: sinker
    spec:
      serviceAccountName: "sinker"
{{- if .Values.sinker.tolerations }}
      tolerations:
{{ toYaml .Values.sinker.tolerations | indent 8 }}
{{- end }}
      containers:
      - name: sinker
        image: {{ quote .Values.sinker.image }}
        args:
        - --config-path=/etc/config/config.yaml
        - --job-config-path=/etc/job-config
        - --dry-run=false
        ports:
          - name: metrics
            containerPort: 9090
        volumeMounts:
        - name: config
          mountPath: /etc/config
          readOnly: true
        - name: job-config
          mountPath: /etc/job-config
          readOnly: true
      volumes:
      - name: config
        configMap:
          name: config
      - name: job-config
        configMap:
          name: job-config