apiVersion: apps/v1
kind: Deployment
metadata:
  name: tide
  labels:
    app: tide
spec:
  replicas: 1 # Do not scale up.
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: tide
  template:
    metadata:
      labels:
        app: tide
    spec:
      serviceAccountName: "tide"
{{- if .Values.tide.tolerations }}
      tolerations:
{{ toYaml .Values.tide.tolerations | indent 8 }}
{{- end }}
      containers:
      - name: tide
        image: {{ quote .Values.tide.image }}
        args:
        - --dry-run=false
        - --config-path=/etc/config/config.yaml
        - --github-endpoint=http://ghproxy
        - --github-endpoint=https://api.github.com
        - --gcs-credentials-file=/etc/service-account/service-account.json
        - --history-uri=gs://{{ .Values.prowbucketname }}/tide-history.json
        - --status-path=gs://{{ .Values.prowbucketname }}/tide-status-checkpoint.yaml
        - --config-path=/etc/config/config.yaml
        - --job-config-path=/etc/job-config
        ports:
          - name: http
            containerPort: 8888
          - name: metrics
            containerPort: 9090
        volumeMounts:
        - name: oauth
          mountPath: /etc/github
          readOnly: true
        - name: config
          mountPath: /etc/config
          readOnly: true
        - name: service-account
          mountPath: /etc/service-account
          readOnly: true
        - name: job-config
          mountPath: /etc/job-config
          readOnly: true
      volumes:
      - name: oauth
        secret:
          secretName: {{ .Values.secrets.githubToken }}
      - name: config
        configMap:
          name: config
      - name: service-account
        secret:
          secretName:  {{ .Values.secrets.bucketGcsCredentials }}
      - name: job-config
        configMap:
          name: job-config