prowjobNamespace: prow
podNamespace: prow-test-pods

prowbucketname: ouzidev-testinfra-252513-prow-artefacts

secrets:
  slackToken: slack-token
  githubToken: oauth-token
  oauthConfig: oauth-config
  bucketGcsCredentials: prow-bucket-gcs-credentials

github:
  org: ouzi-dev
  bot:
    username: ouzibot

oauthproxy:
  image: quay.io/pusher/oauth2_proxy:v3.1.0

hook:
  image: gcr.io/k8s-prow/hook:v20191028-a687a71be
  replicas: 1
  ingress:
    host: 
    annotations: 
      cert-manager.io/cluster-issuer: letsencrypt-prod
      ingress.kubernetes.io/ssl-redirect: "true"
      kubernetes.io/ingress.class: nginx  

plank:
  image: gcr.io/k8s-prow/plank:v20191028-a687a71be

sinker:
  image: gcr.io/k8s-prow/sinker:v20191028-a687a71be
  replicas: 1

deck:
  image: gcr.io/k8s-prow/deck:v20191028-a687a71be
  replicas: 1
  ingress:
    host: 
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      ingress.kubernetes.io/ssl-redirect: "true"
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
      nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"

horologium:
  image: gcr.io/k8s-prow/horologium:v20191028-a687a71be

tide:
  image: gcr.io/k8s-prow/tide:v20191028-a687a71be

statusreconciler:
  image: gcr.io/k8s-prow/status-reconciler:v20191028-a687a71be
  replicas: 1

needsrebase:
  image: gcr.io/k8s-prow/needs-rebase:v20191028-a687a71be

branchprotector:
  image: gcr.io/k8s-prow/branchprotector:v20191028-a687a71be
  schedule: 12 * * * * # Every hour at 12 minutes past the hour
  
crier:
  image: gcr.io/k8s-prow/crier:v20191028-a687a71be
  replicas: 1

labelsync:
  image: gcr.io/k8s-prow/label_sync:v20191028-a687a71be
  schedule: 0 5 * * * # Every day at 5AM

pushgateway:
  image: prom/pushgateway:v0.4.0
  replicas: 1
  proxy:
    image: nginx:1
    replicas: 1

ghproxy:
  image: gcr.io/k8s-prow/ghproxy:v20191028-a687a71be
  replicas: 1
  cache:
    sizeGB: 19
    storageClassName: ssd-retain

monitoring:
  enabled: true