prowjobNamespace: prow
podNamespace: prow-test-pods

prowbucketname: ouzidev-testinfra-252513-prow-artefacts

secrets:
  #slackToken: slack-token
  githubToken: github-token
  oauthConfig: oauth-config
  bucketGcsCredentials: prow-bucket-gcs-credentials

github:
  org: ouzi-dev
  bot:
    username: ouzibot

hook:
  image: gcr.io/k8s-prow/hook:v20200203-cae3cccf8
  replicas: 1
  ingress:
    host: prow.test-infra.ouzi.io
    annotations: 
      cert-manager.io/cluster-issuer: letsencrypt-prod
      ingress.kubernetes.io/ssl-redirect: "true"
      kubernetes.io/ingress.class: nginx  
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule

plank:
  image: gcr.io/k8s-prow/plank:v20200203-cae3cccf8
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule

sinker:
  image: gcr.io/k8s-prow/sinker:v20200203-cae3cccf8
  replicas: 1
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule

deck:
  image: gcr.io/k8s-prow/deck:v20200203-cae3cccf8
  replicas: 1
  ingress:
    host: prow.test-infra.ouzi.io
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      ingress.kubernetes.io/ssl-redirect: "true"
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/auth-url: "https://oauth2.test-infra.ouzi.io/oauth2/auth"
      nginx.ingress.kubernetes.io/auth-signin: "https://oauth2.test-infra.ouzi.io/oauth2/start?rd=/redirect/$http_host$request_uri"
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule

horologium:
  image: gcr.io/k8s-prow/horologium:v20200203-cae3cccf8
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule

tide:
  image: gcr.io/k8s-prow/tide:v20200203-cae3cccf8
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule

statusreconciler:
  image: gcr.io/k8s-prow/status-reconciler:v20200203-cae3cccf8
  replicas: 1
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule

needsrebase:
  image: gcr.io/k8s-prow/needs-rebase:v20200203-cae3cccf8
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule

branchprotector:
  image: gcr.io/k8s-prow/branchprotector:v20200203-cae3cccf8
  schedule: 12 * * * * # Every hour at 12 minutes past the hour
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule

crier:
  image: gcr.io/k8s-prow/crier:v20200203-cae3cccf8
  replicas: 1
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule

labelsync:
  image: gcr.io/k8s-prow/label_sync:v20200203-cae3cccf8
  schedule: 0 5 * * * # Every day at 5AM

# requires tekton to work - 
# we will install it part of the chart in a later revision
pipeline:
  # image: gcr.io/k8s-prow/pipeline:v20200203-cae3cccf8
  image: gcr.io/k8s-prow/pipeline:v20200203-cae3cccf8
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule

pushgateway:
  image: prom/pushgateway:v0.4.0
  replicas: 1
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule
  proxy:
    image: nginx:1
    replicas: 1
    tolerations:
      - key: cloud.google.com/gke-preemptible
        operator: Equal
        value: "true"
        effect: NoSchedule

ghproxy:
  image: gcr.io/k8s-prow/ghproxy:v20200203-cae3cccf8
  replicas: 1
  cache:
    sizeGB: 19
    storageClassName: ssd-retain
  tolerations:
    - key: cloud.google.com/gke-preemptible
      operator: Equal
      value: "true"
      effect: NoSchedule

monitoring:
  enabled: true